#ignore images
*.bmp
*.jpg
*.png

#ignre text files
*.txt
*.docx

#ignore json
*.json

#ignore models
*.h5

#python compiles
*.pyc

#folders

data/processed
data/raw
model/
sample_images/
.ipynb_checkpoints/
.vscode/
.idea/vcs.xml
